.categories {
    position: relative;
}

.categories-on-air {
    z-index: 1000;
    display: flex;
    position: absolute;
    top: 45px;
    left: -125px;

    width: 888px;
    max-height: 734px;
    padding-bottom: 12px;
    
    border-radius: 12px;
    border: 1px #0e0e0e2e solid;
    background-color: #fff;
    overflow: hidden;
    
    transition: opacity .18s ease-out, box-shadow .18s cubic-bezier(.175, .885, .4, 1.1), transform .18s cubic-bezier(.175, .885, .4, 1.1), visibility .18s linear;

    /* opacity: 0; */
    /* visibility: hidden; */
    /* transform-origin: 0 0; */
    /* transform: scaleX(.5) scaleY(.2) perspective(1px); */

    /* opacity: 1; */
    /* visibility: visible; */
    /* transform: scaleX(1) scaleY(1) perspective(1px); */
    box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
    /* text-overflow: ellipsis !important;
    white-space: nowrap !important;
    min-width: 0 !important;
    overflow: hidden !important; */
}

.categories-menu {
    width: 288px;
    padding: 12px 0;
    overflow-y: scroll;
}

.categories-menu::-webkit-scrollbar,
.categories-sub-menu::-webkit-scrollbar {
    width: 8px;
    margin-right: 8px;
}

.categories-menu::-webkit-scrollbar-track,
.categories-sub-menu::-webkit-scrollbar-track {
    background: #fafafa;
    border-radius: 20px;
}

.categories-menu::-webkit-scrollbar-thumb,
.categories-sub-menu::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 12px;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

.categories-menu button {
    position: relative;
    font-size: 17px;
    letter-spacing: 0.3px;
    line-height: 1.3175;
    color: #222;
    width: 100%;
    padding: 12px 6px 12px 18px;
    text-align: start;
    cursor: pointer;
    transition: background-color .1s ease-out;
}

.categories-menu button::after {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    right: 12px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgYXJpYS1oaWRkZW49InRydWUiIGZvY3VzYWJsZT0iZmFsc2UiPjxwYXRoIGQ9Ik0xMCwxN2ExLDEsMCwwLDEtLjcwNy0xLjcwN0wxMi41ODYsMTIsOS4yOTMsOC43MDdhMSwxLDAsMCwxLDEuNDE0LTEuNDE0TDE1LjQxNCwxMmwtNC43MDcsNC43MDdBMSwxLDAsMCwxLDEwLDE3WiI+PC9wYXRoPjwvc3ZnPgo=) !important;
    background-position: 50%;
    background-size: 100%;
    width: 24px;
    height: 24px;
}

.categories-menu button:hover {
    background: #eaeaea;
}

.categories-sub-menu {
    width: calc(100% - 288px);
    overflow-y: scroll;
    border-left: 1px solid #eaeaea;
    font-weight: 700;
    line-height: 1.4;

    padding: 36px 0 36px 36px;
}


.sub-categories {
    display: flex;
    flex-wrap: wrap;
}

.sub-category-card {
    flex-grow: 1;
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
    padding: 18px 30px 18px 0;
    height: 100%;
    object-fit: cover;   
}

.sub-category-card-padding {
    text-align: left;
    cursor: pointer;
    z-index: 1000;
    max-width: 100%;
    position: relative;
    /* border-radius: 12px; */
    
    /* background-color: #ff0000; */

}

.sub-category-card-padding::before {
    content: "";
    position: absolute;
    opacity: 0;
    box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
    z-index: -1;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border-radius: 18px;
    transition: opacity .15s ease-out, top .2s cubic-bezier(.345,.115,.135,1.42), bottom .15s ease-out, left .2s cubic-bezier(.345,.115,.135,1.42), right .15s ease-out;
}

.sub-category-card-padding:hover::before {
    opacity: 1;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
}

.sub-category-card-padding:hover .sub-category-card-content {
    border-radius: 6px;
}

.sub-category-card-content {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    transition: border-radius .2s ease-out;

}

.sub-category-card-content img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    border-color: #222;
    border-radius: 6px;
    aspect-ratio: 1;
    background-color: #e84949;
}

.sub-category-card-content p {
    max-width: 156px;
    color: #222;
    /* letter-spacing: 0.1299px; */
    font-size: 12.99px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
    padding-top: 6px;
}



.all-categories {
    position: relative;
    display: inline-block;
    color: #222;
    cursor: pointer;
}

.all-categories::after {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    width: 12px;
    height: 24px;
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 12 24%22%3E%3Cpath fill%3D%22var%28--clg-color-sem-text-primary, %23222222%29%22 d%3D%22M11.3,12.7L12,12l-0.7-0.7l-4-4c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L8.2,11H1c-0.6,0-1,0.4-1,1s0.4,1,1,1h7.2l-2.3,2.3 c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.6,0.4,1,1,1c0.3,0,0.5-0.1,0.7-0.3C7.3,16.7,11.3,12.7,11.3,12.7z%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100%;
    background-position: 50%;
    transition: transform .1s ease-out;
}

.all-categories:hover::after {
    transform: translateX(4px);
}

