@import url("global.css");
@import url("header.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products-page {
  width: 97%;
  margin: auto;
  height: auto;
}
/*done*/
.category-container {
  width: 100%;
  padding: 0px 18px;
  background-color: #fff;
}

/*done*/
.category-info {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 12px;
}

.category-name {
  margin-bottom: 12px;
  color: rgb(34, 34, 34);
  font-size: 31.01px;
  font-weight: 300;
  letter-spacing: 0.46515px;
}

.category-description {
  color: #595959;
  font-size: 12.99px;
  margin: 0px 32px;
}
.sub-categories-container {
  width: 100%;
  height: 100%;
  margin-top: 24px;
  margin-bottom: 6px;
}
.sub-category-cards {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px 2vw;
  margin: auto;
  padding: 0px 4vw;
}

.sub-category-card {
  width: 100%;
  /* background-color: azure; */
  /* height: 40vh; */
  min-height: 20vw;
}
.sub-category-card img {
  width: 100%;
  height: 90%;
  border-radius: 6px;
  object-fit: cover;
}
.sub-category-card:hover .sub-category-img {
  opacity: 0.9;
}
.sub-category-card:hover .sub-category-name {
  text-decoration: underline;
  color: #333;
}

.sub-category-name {
  color: black;
  text-align: center;
  font-size: 13px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.show-more-btn {
  width: 140px;
  height: 40px;
  border-radius: 24px;
  font-size: 16px;
  background-color: #0e0e0e17;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  color: black;
}

.show-more-btn:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.filter-section {
  /* background-color: aqua; */
  margin-bottom: 10px;
}
.filter-btn {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  font-size: 12.99px;
  background-color: white;
  border: 2px solid black;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  color: black;
}

.filter-btn:hover {
  /* border: none; */
  /* background-color: rgb(226, 220, 208); */
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}




.filter-panel{
    position: fixed;
    top: 0;
    left: -450px; 
    width: 450px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: left 0.3s ease; 
    z-index: 999;
    display: flex;
    flex-direction: column;
  }

  .filter-panel.active {
    left: 0;
  }
  .filter-close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    background: transparent;
    border: none;
    line-height: 1;
  }

.filter-close:hover {
    color: #000; 
  }

  .filter-panel h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 20px;
    
  }

.select-wrapper {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden; 
 width: 350px;
 height: 30px;
 transition: box-shadow 0.3s ease, transform 0.2s ease;
 margin-left: 5px;
}

.select-wrapper select.cat-filter {
  border: none;  
  width: 100%;
  height: 30px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: auto;
  text-align: center;
  outline: none;
}

.select-wrapper:hover{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    transform: scale(1.01);
}

/* Custom arrow for the wrapper */
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;utf8,<svg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat center center;
  background-size: 16px;
}

  .filter-content {
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px; 
  }

  .filter-group {
    margin-bottom: 20px;
  }

  .filter-group h3 {
    font-size: 14px;
    font-weight:bold;
    margin-bottom: 8px;
  }

  .filter-group p {
    margin-left: 24px; 
    font-size: 12px;
    color: #777;
    margin-top: 4px;
  }

  .price-range {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 6px;
    margin-left: 24px; 
  }

  .price-range input {
    width: 60px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .filter-group select {
    margin-left: 24px;
    margin-top: 6px;
    padding: 4px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .filter-footer {
    display: flex;
    justify-content: space-between;
  }

  .cancel-btn,
  .apply-btn {
    padding: 10px 20px;    
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
  }

  .cancel-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    width: 200px;
  }

  .apply-btn {
    background-color:black;
    color: #fff;
    border: 1px solid black;
    width :200px;
    margin-left: 10px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.4);
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    
    z-index: 998;
  }
  
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }


  .filter-group label {
    margin-left: 24px;
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    cursor: pointer;
  }

  .filter-group input[type="radio"],.filter-group input[type="checkbox"] {
    margin-right: 8px;
    cursor: pointer;
  }
.fa-sliders {
  margin-right: 5px;
}

#products-container {
  width: 100%;
  height: 100%;
  margin-top: 24px;
  margin-bottom: 6px;
}
.product-cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 1vw;
}
.product-card {
  width: 100%;
  position: relative;
  min-height: 20vw;
  transform: translateY(25px);
  transition: opacity 1s ease, transform 1s ease;
}

.product-card.show {
  opacity: 1;
  transform: translateY(0);
}

.product-image {
  width: 100%;
  height: 65%;
  object-fit: cover;
}


.product-favorite {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 15px;
  opacity: 0;
  color: black;
  border-radius: 15px;
  border: 1px solid white;
  padding: 5px;
  transition: transform 0.5s ease-in-out;
  background-color: white;
}

.product-card:hover .product-favorite {
  animation: favorite-animation 0.5s forwards;
}
@keyframes favorite-animation {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.product-body {
  width: 100%;
  height: auto;
  padding: 5px;
}

.product-card .product-name {
  font-size: 14px;
  color: #333;
  font-weight: normal;
  margin: 6px 0;
  line-height: 1.3;
}
.product-card .product-info {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.product-card .product-rating {
  font-size: 13px;
  color: #333;
}
.product-card .product-rating i {
  color: #f2c200; 
  margin-right: 2px;
}
.product-card .product-rating i:last-of-type {
  margin-right: 4px;
}
.product-card .product-after-discount {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 4px;
}
.product-card s {
  color: #0f743b;
  margin: 0 4px;
  font-weight: lighter;
}
.product-card .product-current-price {
  font-size: 14px;
  font-weight: lighter;
  color: #0f743b;
}

.product-card .product-vendor {
  font-size: 12px;
  color: #777;
  margin: 5px 0px;
  display: inline-block;
 
}
.product-card .free-shipping {
    display: inline-block;
  font-size: 12px;
 border-radius: 12px;
  background-color:#a0e193; 
  font-weight: 500;
  color: black;
  padding: 5px;

}
.product-discount {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.9em;
  margin-left: 8px;
  text-decoration: line-through;
}



/* 
.add-to-cart-btn{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 13px;
    margin: 5px 10px;
    color: black;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    transition: transform 0.5s ease-in-out

}
.add-to-cart-btn:hover{    
        transform: scale(1.1);
        box-shadow:  0 0 8px rgba(0 ,0,0,0.8);
   
}
.more-like-this-btn{
    width: 120px;
    height: 30px;
    font-size: 12px;
    color: black;
    background-color: white;
    cursor: pointer;
    border: none;
    
    
}

.more-like-this-btn i{
    transition: transform 0.5s ease-in-out;
}
.more-like-this-btn:hover i{
    transform: translateX(8px);
} */


/* mediium screen done  */
@media (min-width: 678px) and (max-width: 1200px) {
  .sub-categories-container {
    width: 100%;
    height: auto;
  }
  .sub-category-cards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 25px 2vw;
    margin: auto;
    padding: 0px 1vw;
    margin-bottom: 40px;
  }
  .product-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 2vw;
  }
}

/*small screen done*/
@media (max-width: 677px) {
  .category-container {
    width: 100%;
    padding: 0px 4px;
  }
  .category-info {
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
  }
  .category-name {
    margin-bottom: 6px;
  }
  .category-description {
    margin: 0px;
  }
  .sub-categories-container {
    margin-top: 6px;
  }
  .sub-category-cards {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 12px;
  }
  .sub-category-card {
    width: 100%;
    height: 30vh;
  }
  .product-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 2vw;
  }
}
